.form {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  padding: 20px;
  width: 500px;

  font-size: 18px;
  font-weight: 500;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}
