.container {
  padding: 30px;
}

.description {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.link {
  color: blue;
  text-decoration: underline;
}

.link:hover {
  color: #38f;
  text-decoration: none;
}
